<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="static/css/style.css">
    <link rel="icon" href="static/assets/images/1.png">
    <title>
        Sherlocked
    </title>
</head>

<body>
    <audio src="static/assets/soundtrack/sherlocked_soundtrack.m4a" autoplay="true" volume="0.4" loop="true"></audio>
    <div class="container-login">
        <h1>Sherlocked</h1>
            <a href="/login"><button class="login-button">Log In</button></a>
            <a href="/register"><button class="login-button">Register</button></a>
</div>
    <img class="footer-img" src="static/assets/images/login-bk.png">
</body>

</html>