<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link rel="icon" href="assets/images/1.png">
    <title>
        Sherlocked
    </title>
</head>

<body>
    <div class="container-login">
        <h1>Sherlocked</h1>
        <form>
            <a href="login.html"><button class="login-button">Log In</button></a>
            <a href="register.html"><button class="login-button">Register</button></a>
        </form>


    </div>
    <img class="footer-img" src="assets/images/login-bk.png">
</body>

</html>