{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Sherlocked | Home17
        </title>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        <script src="{% static "js/jquery.js" %}">
        </script>
        <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" rel="stylesheet"/>
        <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" rel="stylesheet"/>
        <script crossorigin="anonymous" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
        </script>
        <link href="{% static "css/style_new.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "css/styles_new.css" %}"  rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <div class="container-fluid">
            <div class="header">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <p class="got title" style="margin-bottom:10%; margin-top: 15%;">
                            SHERLOCKED
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-2">
                    <a href="/login">
                        <button class="login got" type="submit" style = "width: 100%">
                            Log in
                        </button>
                    </a>
                </div>
           </div>
           <br><br>
           <div class="row">
                <div class="col-md-2 col-md-offset-2">
                    <a href="/register">
                        <button class="register got" type="submit" style = "width: 100%">
                            Register
                        </button>
                    </a>
                </div>
            </div>
            </div>
            <div class="row">
            </div>
        </div>
    </body>
</html>
